# GDP Analysis of America:
## Provided Data in Excel format:

In [15]:
pd.read_excel('gdp_data.xls')

,"Current-Dollar and ""Real"" Gross Domestic Product",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,2016-09-29 00:00:00
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Annual,NaN,NaN,NaN,Quarterly,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,(Seasonally adjusted annual rates),NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,NaN,NaN,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,NaN
...,...,...,...,...,...,...,...,...
280,NaN,NaN,NaN,NaN,2015q2,17998.3,16374.2,NaN
281,NaN,NaN,NaN,NaN,2015q3,18141.9,16454.9,NaN
282,NaN,NaN,NaN,NaN,2015q4,18222.8,16490.7,NaN
283,NaN,NaN,NaN,NaN,2016q1,18281.6,16525,NaN
284,NaN,NaN,NaN,NaN,2016q2,18450.1,16583.1,NaN

## GDP Analysis:

In [16]:
import pandas as pd
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    df = pd.read_excel('gdp_data.xls')
    columns = list(df.columns)
    n = 0
    for i in columns:
        df.rename(columns={i : n}, inplace = True)
        n = n + 1
    df = df.drop([3, 7], axis='columns')
    df = df.drop([0, 1, 2, 3, 4, 5, 6], axis='rows')
    df = df.reset_index()
    
    new_df = df[[4, 6]]
    new_df.rename(columns={4 : 'year_quarter', 6 : 'gdp'}, inplace=True)
    
    splt = new_df['year_quarter'].str.split('q', expand=True)
    new_df[['year', 'quarter']] = splt
    
    nd = new_df.copy()
    start = 2000
    before_re = None
    for i in nd.index:
        if int(nd.iloc[i]['year']) >= start:
            a = float(nd.iloc[i]['gdp'])
            b = float(nd.iloc[i+1]['gdp'])
            c = float(nd.iloc[i+2]['gdp'])
            if before_re == None:
                before_re = nd['gdp'].min()
            if i + 3 == len(nd.index):
                break
            if a > b and b > c:
                if a > before_re:
                    before_re = a
                    re_start = b

    output = nd[nd['gdp'] == re_start]['year_quarter']
    output1 = output.copy().reset_index().loc[0]['year_quarter']

    return output1

def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    df = pd.read_excel('gdplev.xls')
    columns = list(df.columns)
    n = 0
    for i in columns:
        df.rename(columns={i : n}, inplace = True)
        n = n + 1
    df = df.drop([3, 7], axis='columns')
    df = df.drop([0, 1, 2, 3, 4, 5, 6], axis='rows')
    df = df.reset_index()
    
    new_df = df[[4, 6]]
    new_df.rename(columns={4 : 'year_quarter', 6 : 'gdp'}, inplace=True)
    
    splt = new_df['year_quarter'].str.split('q', expand=True)
    new_df[['year', 'quarter']] = splt
    
    nd = new_df.copy()
    start = 2000
    reces_low = None
    for i in nd.index:
        if int(nd.iloc[i]['year']) >= start:
            a = float(nd.iloc[i]['gdp'])
            b = float(nd.iloc[i+1]['gdp'])
            c = float(nd.iloc[i+2]['gdp'])
            if reces_low == None:
                reces_low = nd['gdp'].max()
            if i + 3 == len(nd.index):
                break
            if a > b and b > c:
                if c < reces_low:
                    reces_low = c

    output = nd[nd['gdp'] == reces_low]['year_quarter']
    output1 = output.copy().reset_index().loc[0]['year_quarter']

    return output1

In [14]:
recession_start = get_recession_start()
recession_bottom = get_recession_bottom()

print("The start of recession is - Year: {}, Quarter: {}".format(recession_start[:4], recession_start[4:]))
print("The Lowest GDP in recession is at - Year: {}, Quarter: {}".format(recession_bottom[:4], recession_bottom[4:]))

The start of recession is - Year: 2008, Quarter: q3
The Lowest GDP in recession is at - Year: 2009, Quarter: q2